$main-color: #903749;
$sub-color: #3c3f58;
$home-color: #53354a;
$foot-color: #2c1117;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP&family=Taviraj:wght@300&display=swap");
$noto-sans: "Noto Sans JP", sans-serif;
$noto-serif: "Noto Serif JP", serif;
$traviraj: "Taviraj", serif;
