.main {
  margin-top: 12vh;
  width: 100%;
  max-width: 1300px;
  height: 52vw;
  max-height: 676px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../public/images/play_book.png);
  background-size: cover;
  &__wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url(../../public/images/play_background.png);
  }
  &__loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbb;
    &--item {
      height: 100px;
      width: 100px;
    }
  }
}
.word {
  width: 25%;
  min-width: 150px;
  height: 95px;
  position: relative;
  margin: 10px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  &__container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__round {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 7.5px;
    border: 1px solid rgb(124, 124, 124);
    background-color: #f4ede6;
  }
  &__inner {
    font-family: $noto-sans;
  }
}

.main-right {
  height: 80%;
  width: 38%;
}
