.main {
  margin-top: 12vh;
  width: 100%;
  max-width: 1300px;
  height: 52vw;
  max-height: 676px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../public/images/play_book.png);
  background-size: cover;
  &__wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url(../../public/images/play_background.png);
  }
  &__loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbb;
    &--item {
      height: 100px;
      width: 100px;
    }
  }
}
.main-left {
  height: 80%;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__topic {
    display: flex;
    align-items: center;
    margin: 1% 0;
    &--text {
      font-family: $noto-sans;
      font-size: 30px;
    }
    &--pencil {
      margin-left: 7px;
      height: 30px;
    }
  }
}
.word {
  width: 25%;
  min-width: 150px;
  height: 95px;
  position: relative;
  margin: 10px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  &__container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__round {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 7.5px;
    border: 1px solid rgb(124, 124, 124);
    background-color: #f4ede6;
  }
  &__inner {
    font-family: $noto-sans;
  }
}
.change-button {
  margin-top: 5%;
  button {
    height: 44px;
    width: 222px;
    font-family: $noto-sans;
    font-size: 18px;
    letter-spacing: 1.05px;
    color: white;
    background-color: #2b2e4ae6;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}
.main-right {
  height: 80%;
  width: 38%;
  &__answer-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__not-answer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__topic {
    display: flex;
    align-items: center;
    margin: 1% 0;
    &--text {
      font-family: $noto-sans;
      font-size: 30px;
    }
    &--light {
      margin-left: 3px;
      height: 30px;
    }
  }
}
.hint {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
  border: 2px solid #923145;
  background-color: white;
  font-size: 1.1em;
  position: relative;
  font-family: $noto-sans;
  &__round {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(124, 124, 124);
    background-color: #f4ede6;
  }
  &__contents {
    margin: 20px 0 20px 35px;
  }
  &__count {
    display: flex;
    &--text {
      font-size: 25px;
    }
    &--hint {
      text-align: center;
      position: relative;
      min-width: 100px;
      margin-left: 20px;
      padding: 7px 0;
    }
  }
  &__category {
    margin-top: 15px;
    &--text {
      font-size: 25px;
      margin-bottom: 10px;
    }
    &--hint {
      position: relative;
      min-width: 200px;
      margin-left: 50px;
      padding: 3px 0;
      &--inner {
        padding: 3px 0;
        width: 100%;
      }
      &--element {
        text-align: center;
      }
    }
  }
  &__head {
    display: flex;
    margin-top: 20px;
    &--text {
      font-size: 25px;
    }
    &--hint {
      text-align: center;
      position: relative;
      min-width: 100px;
      margin-left: 20px;
      padding: 7px 0;
    }
  }
}
.hint-mask {
  height: calc(100% - 15px);
  width: 100%;
  background-color: #923145;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    z-index: 3;
  }
  &__text {
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
    z-index: 2;
  }
  &:before {
    width: 100%;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    border-bottom: solid 15px #923145;
    border-right: solid 15px transparent;
    content: "";
  }
}
@keyframes sizeScale {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.mask {
  animation: sizeScale ease-in 1s forwards;
}

.answer {
  margin-top: 10px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__input {
    height: 100%;
    width: 100%;
    font-family: $noto-sans;
    font-size: 25px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: 1px solid black;
    caret-color: #622feb;
    &:focus {
      outline-color: #923145;
    }
    &--wrapper {
      height: 100%;
      width: 75%;
    }
  }
  &__button {
    height: 100%;
    width: 100%;
    font-family: $traviraj;
    font-size: 25px;
    background-color: transparent;
    border: solid black;
    border-width: 1px 1px 7px 1px;
    cursor: pointer;
    &:hover {
      border-width: 1px 1px 4px 1px;
    }
    &:active {
      border-width: 1px 1px 1px 1px;
    }
    &--wrapper {
      height: 100%;
      width: 20%;
    }
  }
}

.link_answer {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(transparent 70%, #92314566 70%);
  &__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    text-align: center;
    font-family: $noto-sans;
    font-size: 30px;
    margin-left: 10px;
  }
  &__image {
    height: 30px;
    display: block;
  }
  &__button {
    height: 40px;
    width: 200px;
    margin-top: 20px;
    font-family: $noto-sans;
    font-size: 1.1em;
    letter-spacing: 0.88px;
    color: white;
    background-color: #923145;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}

.answer-view {
  &__topic {
    display: flex;
    align-items: center;
    margin: 1% 0;
    &--text {
      font-family: $noto-sans;
      font-size: 30px;
    }
    &--image {
      margin-left: 7px;
      height: 30px;
    }
  }
  &__image {
    height: 100%;
    object-fit: contain;
    &--wrapper {
      height: 50%;
      margin-top: 3%;
    }
  }
  &__text {
    min-width: 400px;
    text-align: center;
    margin-top: 20px;
    font-family: $noto-sans;
    font-size: 1.8em;
    font-weight: 800;
    text-decoration: underline;
    background: linear-gradient(transparent 70%, #92314566 70%);
    a {
      color: black;
    }
  }
  &__subtext {
    margin-top: 25px;
    font-family: $noto-sans;
    font-size: 18px;
  }
  &__tweet {
    margin-top: 30px;
    font-family: $noto-sans;
    display: flex;
    align-items: center;
    &--text {
      font-family: $noto-sans;
      font-size: 18px;
    }
    &--button {
      display: flex;
      justify-content: center;
      padding: 2px 7px;
      border: none;
      border-radius: 4px;
      background-color: #3aa5dd;
      cursor: pointer;
      &--wrapper {
        margin-left: 15px;
      }
      &--image {
        height: 23px;
      }
      &--text {
        font-family: $traviraj;
        font-size: 15px;
        color: white;
      }
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }
}
